.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns.banner img {
  width: 170px;
  animation: reveal 1s linear forwards;
}

.columns.banner {
  border-bottom: 3px solid purple;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.columns.banner h1,.columns.banner h3,{
  margin: 0;
}

.columns.banner p {
  margin: 0;
  color: #767676;
}

.columns.cluster_button > div > div {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
  max-width: 150px;
}

.columns > div > .columns-img-col img {
  display: block;
  width: 170px;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
