/* add global styles that can be loaded post LCP here */
h2 {
    color: var(--link-color);
}

* {
    word-break: break-word;
}

.code-summary {
    background: #f8f8f8;
    padding: 22px;
    border-radius: 22px;
    box-shadow: 0 0 20px #a6a6a6;
    max-width: 1200px;
    margin: auto;
}

.homeBtn {
    position: fixed;
    z-index: 444;
    bottom: 20px;
    right: 20px;
    background: #363636;
    padding: 12px;
    color: #f4f4f4;
}

main pre {
    border-radius: 12px;
}

@keyframes reveal {
    from {
        opacity: 0;
        transform: translateX(15px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}
